<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="source_name" value="mups_log_source"/>
    <add key="log_name" value="mups_log"/>
    <add key="mups_application_path" value="C:\Users\wavegis\Documents\mups\ConsoleApplication1_client_threading\bin\Release"/>
    <add key="mups_application_name" value="Client.exe"/>
  </appSettings>
</configuration>